// 头部样式
.header{
    font-size: 12px;
    height: 35px;
    border-bottom: 1px solid #e6e6e6;
    background-color: #f2f2f2;
    line-height: 34px;
    a{text-decoration: none;}
     // 涵有二级栏的a标签
    .bor-a{
        z-index: 1001;
        margin-top: -1px;
        margin-bottom: -1px;
        border: 1px solid transparent;
        box-sizing: border-box;
        border-bottom: 0;
    }
    // 头部左侧nav
    .headNav-l{
        li{
            position: relative;
            float: left;
            &:hover .bor-a{
                color: #ff6a00;
                border-color: #d9d9d9;
                border-bottom-color: #fff;
                background-color: #fff;
            }
            &:hover .menu{
                display: block;
            }
            a{
                position: relative;
                color: #737373;
                display: block;
                height: 35px;
                padding: 0 8px;
                &:hover{color: #ff6a00;}
                span{
                    display: inline-block;
                    vertical-align: middle;
                    width: 24px;
                    height: 24px;
                    margin-right: 2px;
                    margin-top: -2px;
                    background: url(../image/common_z.png) no-repeat;
                }
                .icon-star{background-position:   0px -318px;}
                .icon-weixin{background-position: -374px -131px;margin-top: -1px;}
                .icon-mobile{background-position: -294px -171px;margin-top: -1px;}
            }
            // 二维码
            .menu{
                display: none;
                background: #fff;
                position: absolute;
                line-height: 18px;
                min-width: 160px;
                padding-top: 20px;
                text-align: center;
                font-size: 12px;
                margin: 0;
                padding: 10px;
                border: 1px solid #d9d9d9;
                border-radius: 0;
                img{
                    width: 124px;
                    height: 124px;
                }
            }
           
        }
    }
    // 头部右侧nav
    .headNav-r{
        li{
            float: left;
            color: #737373;
            &:hover .bor-a{
                color: #ff6a00;
                border-color: #d9d9d9;
                border-bottom-color: #fff;
                background-color: #fff;
            }
            &:hover .help-service, &:hover .empty{
                display: block;
            }
            a{
                position: relative;
                display: block;
                height: 35px;
                padding: 0 8px;
                color: #737373;
                &:hover{color: #ff6a00;}
                &:hover .glyphicon{color: #ff6a00;}
            }
            // 向下箭头图标
            .glyphicon-triangle-bottom:before {
                content: "\e252";
            }
            // 图标样式
            .glyphicon{
                position: relative;
                top: 1px;
                display: inline-block;
                font-size: 10px;
                margin-left: 2px;
                color: #d9d9d9;
                font-family: 'Glyphicons Halflings';
                font-style: normal;
                font-weight: normal;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
            }
            // 购物车图标
            .icon-shopCar{
                margin-right: 2px;
                margin-top: -2px;
                width: 24px;
                height: 24px;
                display: inline-block;
                vertical-align: middle;
                background: url(../image/common_z.png) no-repeat -340px -284px;
            }
        }
        // 导航栏边框
        .nav-bk{
            overflow: hidden;
            width: 1px;
            height: 12px;
            margin: 11px 1px;
            padding: 0;
            background-color: #d9d9d9;
        }
        // 客户服务
        .service{
            position: relative;
            .help-service{
                position: absolute;
                z-index: 1000;
                display: none;
                background: #fff;
                width: 78px;
                min-width: 78px;
                border: 1px solid #d9d9d9;
                border-top: none;
                padding-bottom: 10px;
                margin: 0;
                border-radius: 0;
                a{
                    text-align: center;
                    height: 24px;
                    line-height: 24px;
                    display: block;
                    font-size: 12px;
                }
            }
        }
        // 购物车
        .buy-car{
            position: relative;
            .empty{
                display: none;
                position: absolute;
                z-index: 1000;
                left: -213px;
                background: #fff;
                width: 320px;
                padding: 45px 15px;
                color: #737373;
                text-align: center;
                border: 1px solid #d9d9d9;
            }
        }
        // 登入box
        .LoginInfo{
            padding-right: 6px;
            a{
                float: left;
                padding-right: 2px;
            }
        }
        // 文字logo
        .slogo{
            margin-left: 5px;
        }
    }
}
// 搜索栏
.seek{
    height: 120px;
    // logo标识
    .logo{
        float: left;
        width: 500px;
        height: 64px;
        margin-top: 28px;
        background: url(../image/pc_hualogo.png) left center no-repeat;
        a{
            display: block;
            overflow: hidden;
            width: 220px;
            padding-top: 64px;
            color: #fff;
        }
    }
    // 搜索框
    .search{
        float: left;
        width: 320px;
        margin-top: 40px;
        .search-inp{
            color: #4d4d4d;
            position: relative;
            float: left;
            width: 238px;
            border:1px solid #ff6a00;
            height: 34px;
            padding: 6px;
            box-sizing: border-box;
            outline: none;
        }
        .search-btn{
            width: 82px;
            height: 34px;
            color: #ffffff;
            font-size: 16px;
            background-color: #ff6a00;
            border:1px solid #ff6a00 ;
            outline: none;
        }
    }
    // 联系我们
    .serviceDefault{
        float: right;
        position: relative;
        margin-top: 40px;
        line-height: 30px;
        color: #737373;
        a{
            font-size: 12px;
            margin-left: 20px;
            padding-left: 20px;
            border-left: 1px solid #d9d9d9;
            color: #737373;
            &:hover{color: #ff6a00;}
        }
        span{
            display: inline-block;
            vertical-align: top;
            width: 30px;
            height: 30px;
            margin-right: 6px;
            background-image: url(../image/common_z.png);
        }
        .ico-phone{
            width: 30px;
            height: 30px;
            margin-right: 6px;
            background-image: url(../image/common_z.png);
            background-position: -380px -46px;
        }
        .ico-headset{
            background-position: -294px -131px;
        }
    }
}
// input 的 placeholder样式
// 谷歌
input::-webkit-input-placeholder{
    color: #B4BABF;
    font-size: 12px;
}
// 火狐
input::-moz-placeholder{  
    color: #B4BABF;
    font-size: 12px;
}
// 谷歌
.search-inp::-webkit-input-placeholder{
    color: #B4BABF;
    font-size: 14px;
}
// 火狐
.search-inp::-moz-placeholder{  
    color: #B4BABF;
    font-size: 14px;
}
// 登入内容
.login-wrap{
    width: 100%;
    height: 474px;
    background: url(../image/login_bg.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 0;
    .login-box{
        position: relative;
        float: right;
        width: 360px;
        height: 438px;
        border-radius: 8px;
        background: #fff;
        margin-top: 18px;
        overflow: hidden;
        // 选择登入方式
        .login-title{
            width: 100%;
            height: 51px;
            box-sizing: content-box;
            border-bottom: 1px solid #E9ECF0;
            img{
                position: absolute;
                right: 0;
                top: 0;
                width: 44px;
                height: 44px;
            }
            h3{
                position: relative;
                float: left;
                width: 50%;
                font-weight: normal;
                line-height: 56px;
                font-size: 18px;
                text-align: center;
                cursor: pointer;
                z-index: 2;
            }
            .active-log{
                color: #FF734C;
            }
            .active-log::after{
                content: '';
                position: absolute;
                width: 120px;
                height: 2px;
                bottom: 0px;
                left: 30px;
                top: 50px;
                background: #FF734C;
            }
        }
        // 登入盒
        .login-content{
            position: relative;
            .form{
                display: none;
                position: absolute;
                width: 312px;
                box-sizing: content-box;
                min-height: 280px;
                padding: 20px 24px 0;
            }
            .fo-active{
                display: block;
            }
            // 账号登入框内容
            .login-zh{
                .input-box{
                    position: relative;
                    width: 100%;
                    height: 36px;
                    border: 1px solid #E9ECF0;
                    border-radius: 2px;
                }
                .tip{
                    height: 18px;
                    margin: 4px 0;
                    font-size: 12px;
                    line-height: 18px;
                    color: #71797F;
                    padding:0 10px;
                    #rememberme{
                        border: 1px solid #E9ECF0;
                        height: 13px;
                        width: 13px;
                        vertical-align: middle;
                        cursor: pointer;
                        margin: 0px 5px 3px 0;
                    }
                    label{
                        cursor: pointer;
                    }
                    b{
                        float: right;
                        &:hover{
                            color: #FF734C;
                            cursor: pointer;
                        }
                    }
                }
                .tips{
                    padding-left: 40px;
                    height: 18px;
                    margin: 4px 0;
                    font-size: 12px;
                    line-height: 18px;
                    color: #FF734C; 
                }
                .login-way{
                    font-size: 13px;
                    color: #71797F;
                    height: 24px;
                    line-height: 18px;
                    text-align: right;
                    .icon-suo{
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        margin-top: 2px;
                        margin-right: 3px;
                        background: url(../image/pc_icon.png) no-repeat -24px 0;
                        background-repeat: no-repeat;
                        vertical-align: top;
                    }
                }
                input{
                    width: 262px;
                    height: 34px;
                    padding: 7px 6px;
                    vertical-align: top;
                    font-size: 14px;
                    line-height: 20px;
                    border: none;
                    outline: none;
                    color: #232628;
                }
                .icon-user{
                    display: block;
                    float: left;
                    width: 34px;
                    height: 34px;
                    background: url(../image/pc_icon.png) no-repeat -88px -24px;
                }
                .icon-pass{
                    display: block;
                    float: left;
                    width: 34px;
                    height: 34px;
                    background: url(../image/pc_icon.png) no-repeat -44px -24px;
                }
                .gogogo{
                    display: block;
                    background: #FF734C;
                    color: #fff;
                    width: 100%;
                    height: 36px;
                    margin-top: 10px;
                    border-radius: 24px;
                    font-size: 16px;
                    text-align: center;
                    line-height: 36px;
                    border: none;
                    cursor: pointer;
                    
                }
                .fst-log{
                    margin-top: 12px;
                    font-size: 13px;
                    line-height: 18px;
                    text-align: center;
                    a{
                        color: #B4BABF;
                        &:hover{color: #ff6a00;}
                        .icon-tip{
                            display: inline-block;
                            width: 16px;
                            height: 16px;
                            margin-top: 2px;
                            margin-right: 3px;
                            background: url(../image/pc_icon.png) no-repeat -47px 0;
                            vertical-align: top;
                        }
                    }
                }
            }
            // 微信登入框内容
            .login-wx{
                .saoma-login{
                    overflow: hidden;
                    margin-top: 20px;
                    img{
                        display: block;
                        margin:26px auto 0;
                        width: 150px;
                        height: 150px;
                    }
                    p{
                        position: relative;
                        font-size: 14px;
                        color: #232628;
                        line-height: 24px;
                        margin-top: 30px;
                        text-align: center;
                        .icon-wenhao{
                            cursor: pointer;
                            display: inline-block;
                            width: 16px;
                            height: 16px;
                            margin-right: 3px;
                            margin-left: 4px;
                            margin-bottom: 3px;
                            background: url(../image/pc_icon.png) no-repeat -72px 0;
                            background-repeat: no-repeat;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
        .more-gogog{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 52px;
            background: #F7F9FA;
            line-height: 52px;
            ul{
                padding: 0 8px;
                li{
                    float: left;
                    margin: 0 16px;
                    text-align: center;
                    line-height: 52px;
                    height: 52px;
                    font-size: 12px;
                    color: #71797F;
                }
                .sign-in{
                    float: right;
                    a{display: block;
                        font-size: 14px;
                        color: #FF734C;
                    }
                }
                span{
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    margin-top: 16px;
                    margin-right: 4px;
                    background-image: url(../image/pc_icon.png);
                    background-repeat: no-repeat;
                    vertical-align: top;
                }
                .icon-qq{background-position: -30px -94px;}
                .icon-zfb{background-position: -60px -94px;}
                .icon-xiangy{background-position: 0 -66px;}
            }
        }
    }
}
// 尾部
.footer{
    .footer-nav{
        font-size: 12px;
        width: 1200px;
        margin: 30px auto;
        text-align: center;
        li{
            display: inline-block;
            color: #737373;
            margin: 0 32px;
        }
        .finally{margin-right: 32px;}
        .fist{margin-left: 32px;}
        .bro{
            margin: 0;
            color: #d9d9d9;
        }
    }
    .auth{
        text-align: center;
        padding-bottom: 20px;
        img{
            display: inline-block;
            margin: 0 5px;
            .auth-text{
                text-align: center;
            }
        }
        .auth-text{
            padding-top: 30px;
            font-size: 12px;
            color: #737373;
        }
    }
}