.header {
  font-size: 12px;
  height: 35px;
  border-bottom: 1px solid #e6e6e6;
  background-color: #f2f2f2;
  line-height: 34px;
}

.header a {
  text-decoration: none;
}

.header .bor-a {
  z-index: 1001;
  margin-top: -1px;
  margin-bottom: -1px;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-bottom: 0;
}

.header .headNav-l li {
  position: relative;
  float: left;
}

.header .headNav-l li:hover .bor-a {
  color: #ff6a00;
  border-color: #d9d9d9;
  border-bottom-color: #fff;
  background-color: #fff;
}

.header .headNav-l li:hover .menu {
  display: block;
}

.header .headNav-l li a {
  position: relative;
  color: #737373;
  display: block;
  height: 35px;
  padding: 0 8px;
}

.header .headNav-l li a:hover {
  color: #ff6a00;
}

.header .headNav-l li a span {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-right: 2px;
  margin-top: -2px;
  background: url(../image/common_z.png) no-repeat;
}

.header .headNav-l li a .icon-star {
  background-position: 0px -318px;
}

.header .headNav-l li a .icon-weixin {
  background-position: -374px -131px;
  margin-top: -1px;
}

.header .headNav-l li a .icon-mobile {
  background-position: -294px -171px;
  margin-top: -1px;
}

.header .headNav-l li .menu {
  display: none;
  background: #fff;
  position: absolute;
  line-height: 18px;
  min-width: 160px;
  padding-top: 20px;
  text-align: center;
  font-size: 12px;
  margin: 0;
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 0;
}

.header .headNav-l li .menu img {
  width: 124px;
  height: 124px;
}

.header .headNav-r li {
  float: left;
  color: #737373;
}

.header .headNav-r li:hover .bor-a {
  color: #ff6a00;
  border-color: #d9d9d9;
  border-bottom-color: #fff;
  background-color: #fff;
}

.header .headNav-r li:hover .help-service, .header .headNav-r li:hover .empty {
  display: block;
}

.header .headNav-r li a {
  position: relative;
  display: block;
  height: 35px;
  padding: 0 8px;
  color: #737373;
}

.header .headNav-r li a:hover {
  color: #ff6a00;
}

.header .headNav-r li a:hover .glyphicon {
  color: #ff6a00;
}

.header .headNav-r li .glyphicon-triangle-bottom:before {
  content: "\e252";
}

.header .headNav-r li .glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-size: 10px;
  margin-left: 2px;
  color: #d9d9d9;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.header .headNav-r li .icon-shopCar {
  margin-right: 2px;
  margin-top: -2px;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  background: url(../image/common_z.png) no-repeat -340px -284px;
}

.header .headNav-r .nav-bk {
  overflow: hidden;
  width: 1px;
  height: 12px;
  margin: 11px 1px;
  padding: 0;
  background-color: #d9d9d9;
}

.header .headNav-r .service {
  position: relative;
}

.header .headNav-r .service .help-service {
  position: absolute;
  z-index: 1000;
  display: none;
  background: #fff;
  width: 78px;
  min-width: 78px;
  border: 1px solid #d9d9d9;
  border-top: none;
  padding-bottom: 10px;
  margin: 0;
  border-radius: 0;
}

.header .headNav-r .service .help-service a {
  text-align: center;
  height: 24px;
  line-height: 24px;
  display: block;
  font-size: 12px;
}

.header .headNav-r .buy-car {
  position: relative;
}

.header .headNav-r .buy-car .empty {
  display: none;
  position: absolute;
  z-index: 1000;
  left: -213px;
  background: #fff;
  width: 320px;
  padding: 45px 15px;
  color: #737373;
  text-align: center;
  border: 1px solid #d9d9d9;
}

.header .headNav-r .LoginInfo {
  padding-right: 6px;
}

.header .headNav-r .LoginInfo a {
  float: left;
  padding-right: 2px;
}

.header .headNav-r .slogo {
  margin-left: 5px;
}

.seek {
  height: 120px;
}

.seek .logo {
  float: left;
  width: 500px;
  height: 64px;
  margin-top: 28px;
  background: url(../image/pc_hualogo.png) left center no-repeat;
}

.seek .logo a {
  display: block;
  overflow: hidden;
  width: 220px;
  padding-top: 64px;
  color: #fff;
}

.seek .search {
  float: left;
  width: 320px;
  margin-top: 40px;
}

.seek .search .search-inp {
  color: #4d4d4d;
  position: relative;
  float: left;
  width: 238px;
  border: 1px solid #ff6a00;
  height: 34px;
  padding: 6px;
  box-sizing: border-box;
  outline: none;
}

.seek .search .search-btn {
  width: 82px;
  height: 34px;
  color: #ffffff;
  font-size: 16px;
  background-color: #ff6a00;
  border: 1px solid #ff6a00;
  outline: none;
}

.seek .serviceDefault {
  float: right;
  position: relative;
  margin-top: 40px;
  line-height: 30px;
  color: #737373;
}

.seek .serviceDefault a {
  font-size: 12px;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #d9d9d9;
  color: #737373;
}

.seek .serviceDefault a:hover {
  color: #ff6a00;
}

.seek .serviceDefault span {
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  margin-right: 6px;
  background-image: url(../image/common_z.png);
}

.seek .serviceDefault .ico-phone {
  width: 30px;
  height: 30px;
  margin-right: 6px;
  background-image: url(../image/common_z.png);
  background-position: -380px -46px;
}

.seek .serviceDefault .ico-headset {
  background-position: -294px -131px;
}

input::-webkit-input-placeholder {
  color: #B4BABF;
  font-size: 12px;
}

input::-moz-placeholder {
  color: #B4BABF;
  font-size: 12px;
}

.search-inp::-webkit-input-placeholder {
  color: #B4BABF;
  font-size: 14px;
}

.search-inp::-moz-placeholder {
  color: #B4BABF;
  font-size: 14px;
}

.login-wrap {
  width: 100%;
  height: 474px;
  background: url(../image/login_bg.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 0;
}

.login-wrap .login-box {
  position: relative;
  float: right;
  width: 360px;
  height: 438px;
  border-radius: 8px;
  background: #fff;
  margin-top: 18px;
  overflow: hidden;
}

.login-wrap .login-box .login-title {
  width: 100%;
  height: 51px;
  box-sizing: content-box;
  border-bottom: 1px solid #E9ECF0;
}

.login-wrap .login-box .login-title img {
  position: absolute;
  right: 0;
  top: 0;
  width: 44px;
  height: 44px;
}

.login-wrap .login-box .login-title h3 {
  position: relative;
  float: left;
  width: 50%;
  font-weight: normal;
  line-height: 56px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  z-index: 2;
}

.login-wrap .login-box .login-title .active-log {
  color: #FF734C;
}

.login-wrap .login-box .login-title .active-log::after {
  content: '';
  position: absolute;
  width: 120px;
  height: 2px;
  bottom: 0px;
  left: 30px;
  top: 50px;
  background: #FF734C;
}

.login-wrap .login-box .login-content {
  position: relative;
}

.login-wrap .login-box .login-content .form {
  display: none;
  position: absolute;
  width: 312px;
  box-sizing: content-box;
  min-height: 280px;
  padding: 20px 24px 0;
}

.login-wrap .login-box .login-content .fo-active {
  display: block;
}

.login-wrap .login-box .login-content .login-zh .input-box {
  position: relative;
  width: 100%;
  height: 36px;
  border: 1px solid #E9ECF0;
  border-radius: 2px;
}

.login-wrap .login-box .login-content .login-zh .tip {
  height: 18px;
  margin: 4px 0;
  font-size: 12px;
  line-height: 18px;
  color: #71797F;
  padding: 0 10px;
}

.login-wrap .login-box .login-content .login-zh .tip #rememberme {
  border: 1px solid #E9ECF0;
  height: 13px;
  width: 13px;
  vertical-align: middle;
  cursor: pointer;
  margin: 0px 5px 3px 0;
}

.login-wrap .login-box .login-content .login-zh .tip label {
  cursor: pointer;
}

.login-wrap .login-box .login-content .login-zh .tip b {
  float: right;
}

.login-wrap .login-box .login-content .login-zh .tip b:hover {
  color: #FF734C;
  cursor: pointer;
}

.login-wrap .login-box .login-content .login-zh .tips {
  padding-left: 40px;
  height: 18px;
  margin: 4px 0;
  font-size: 12px;
  line-height: 18px;
  color: #FF734C;
}

.login-wrap .login-box .login-content .login-zh .login-way {
  font-size: 13px;
  color: #71797F;
  height: 24px;
  line-height: 18px;
  text-align: right;
}

.login-wrap .login-box .login-content .login-zh .login-way .icon-suo {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 2px;
  margin-right: 3px;
  background: url(../image/pc_icon.png) no-repeat -24px 0;
  background-repeat: no-repeat;
  vertical-align: top;
}

.login-wrap .login-box .login-content .login-zh input {
  width: 262px;
  height: 34px;
  padding: 7px 6px;
  vertical-align: top;
  font-size: 14px;
  line-height: 20px;
  border: none;
  outline: none;
  color: #232628;
}

.login-wrap .login-box .login-content .login-zh .icon-user {
  display: block;
  float: left;
  width: 34px;
  height: 34px;
  background: url(../image/pc_icon.png) no-repeat -88px -24px;
}

.login-wrap .login-box .login-content .login-zh .icon-pass {
  display: block;
  float: left;
  width: 34px;
  height: 34px;
  background: url(../image/pc_icon.png) no-repeat -44px -24px;
}

.login-wrap .login-box .login-content .login-zh .gogogo {
  display: block;
  background: #FF734C;
  color: #fff;
  width: 100%;
  height: 36px;
  margin-top: 10px;
  border-radius: 24px;
  font-size: 16px;
  text-align: center;
  line-height: 36px;
  border: none;
  cursor: pointer;
}

.login-wrap .login-box .login-content .login-zh .fst-log {
  margin-top: 12px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}

.login-wrap .login-box .login-content .login-zh .fst-log a {
  color: #B4BABF;
}

.login-wrap .login-box .login-content .login-zh .fst-log a:hover {
  color: #ff6a00;
}

.login-wrap .login-box .login-content .login-zh .fst-log a .icon-tip {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 2px;
  margin-right: 3px;
  background: url(../image/pc_icon.png) no-repeat -47px 0;
  vertical-align: top;
}

.login-wrap .login-box .login-content .login-wx .saoma-login {
  overflow: hidden;
  margin-top: 20px;
}

.login-wrap .login-box .login-content .login-wx .saoma-login img {
  display: block;
  margin: 26px auto 0;
  width: 150px;
  height: 150px;
}

.login-wrap .login-box .login-content .login-wx .saoma-login p {
  position: relative;
  font-size: 14px;
  color: #232628;
  line-height: 24px;
  margin-top: 30px;
  text-align: center;
}

.login-wrap .login-box .login-content .login-wx .saoma-login p .icon-wenhao {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  margin-left: 4px;
  margin-bottom: 3px;
  background: url(../image/pc_icon.png) no-repeat -72px 0;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.login-wrap .login-box .more-gogog {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 52px;
  background: #F7F9FA;
  line-height: 52px;
}

.login-wrap .login-box .more-gogog ul {
  padding: 0 8px;
}

.login-wrap .login-box .more-gogog ul li {
  float: left;
  margin: 0 16px;
  text-align: center;
  line-height: 52px;
  height: 52px;
  font-size: 12px;
  color: #71797F;
}

.login-wrap .login-box .more-gogog ul .sign-in {
  float: right;
}

.login-wrap .login-box .more-gogog ul .sign-in a {
  display: block;
  font-size: 14px;
  color: #FF734C;
}

.login-wrap .login-box .more-gogog ul span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 16px;
  margin-right: 4px;
  background-image: url(../image/pc_icon.png);
  background-repeat: no-repeat;
  vertical-align: top;
}

.login-wrap .login-box .more-gogog ul .icon-qq {
  background-position: -30px -94px;
}

.login-wrap .login-box .more-gogog ul .icon-zfb {
  background-position: -60px -94px;
}

.login-wrap .login-box .more-gogog ul .icon-xiangy {
  background-position: 0 -66px;
}

.footer .footer-nav {
  font-size: 12px;
  width: 1200px;
  margin: 30px auto;
  text-align: center;
}

.footer .footer-nav li {
  display: inline-block;
  color: #737373;
  margin: 0 32px;
}

.footer .footer-nav .finally {
  margin-right: 32px;
}

.footer .footer-nav .fist {
  margin-left: 32px;
}

.footer .footer-nav .bro {
  margin: 0;
  color: #d9d9d9;
}

.footer .auth {
  text-align: center;
  padding-bottom: 20px;
}

.footer .auth img {
  display: inline-block;
  margin: 0 5px;
}

.footer .auth img .auth-text {
  text-align: center;
}

.footer .auth .auth-text {
  padding-top: 30px;
  font-size: 12px;
  color: #737373;
}
